*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: darkturquoise;
    height: 500px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 4px;
    column-gap: 4px;
    padding: 4px 10px 0px 10px;
}
.item{
    background-color: midnightblue;
    color: blanchedalmond;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item2{
   grid-column: 3;
   grid-row: 1 / span 2;
}
.item3{
    grid-column: 1;
    grid-row: 2 / span 3;
    margin: 0px 0px 4px 0px;
}
.item4{
    grid-column: 2 / span 3;
    grid-row: 3;
}
.container > div{
    text-align: center;
    padding: 20px;
}
.Masonry{
    font-weight: 900;
    font-size: -webkit-xxx-large;
    font-family: sans-serif;
}
.Sub{
    font-weight:bolder;
    font-size: x-large;
    font-family: sans-serif;
}
.box1{
    text-align:center;
    padding: 40px 0px;
}
.box2{
    padding: 90px 0px;
}
.box3{
    padding: 90px 0px;
}
.box5{
    padding: 35px 0px;
}
.box6{
    padding: 41px 0px;
}
.box7{
    padding: 28px 0px;
}